---
# tasks file for ansible-prometheus.io

- name: Scraping https://prometheus.io/download/
  ansible.builtin.uri:
    url: "https://prometheus.io/download/"
    return_content: yes
    #http_agent:
  register: scrape_result

- set_fact:
    prometheus_table: "{{ scrape_result.content[scrape_result.content.find('<table'):scrape_result.content.find('</table>')] }}"
- set_fact:
    prometheus_version: "{{ prometheus_table[prometheus_table.find('linux'):] }}"
- set_fact:
    prometheus_filename: "{{ prometheus_version[prometheus_version.find('>')+1:prometheus_version.find('</a>')] }}"
- set_fact:
    prometheus_version: "{{ prometheus_filename[prometheus_filename.find('-')+1:prometheus_filename.find('.linux')] }}"

- debug:
    msg: "Scraping shows Prometheus is in version: {{ prometheus_version}} with the filename: {{ prometheus_filename }}"

- set_fact:
    prometheus_download_url: "{{ base_download_url }}/v{{ prometheus_version }}/{{ prometheus_filename }}"

- debug:
    msg: "{{ prometheus_download_url }}"

- name: Download prometheus
  ansible.builtin.get_url:
    url: "{{ prometheus_download_url }}"
    dest: "/tmp/{{ prometheus_filename }}"
